/* Base ----------------------------------------------------------- */
body {
	color: black;
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 20px;
}
h1 {
	font-size: 31px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 19px;
}
h6 {
	font-size: 16px;
}
p {
	line-height: 20px;
	margin-bottom: 20px;
}
a {
	color: blue;
}
a:hover {
	text-decoration: none;
}
ul {
	margin: 0 0 20px 20px;
	list-style: disc;
}
table {
	margin-bottom: 20px;
}
table, tr, td {
	border: 1px solid black;
}
img {}




/* Layout ----------------------------------------------------------- */
.l-content {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
.l-content.l-content-width-medium {
	max-width: 1300px;
}
.l-gutter {
	padding-left: 15px;
	padding-right: 15px;
}
.l-grid {
	font-size: 0px;
}
.l-grid .l-grid-col {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}
.l-grid.l-grid-2cols {}
.l-grid.l-grid-2cols .l-grid-col {
	width: 50%;
}
.l-grid.l-grid-3cols {}
.l-grid.l-grid-3cols .l-grid-col {
	width: 33.33%;
}
.l-header {
	padding-top: 50px;
	padding-bottom: 25px;
	margin-bottom: 50px;
}
main {
	margin-bottom: 70px;
}
.l-footer {
	height: 100px;
	background: #717171;
}
.l-table {
	display: table;
}
.l-table .l-table-row {
	display: table-row;
	width: 100%;
}
.l-table .l-table-cell {
	display: table-cell;
	vertical-align: top;
}



/* Module ----------------------------------------------------------- */
.nav {}
.nav.nav-header {
	text-align: center;
}
.nav.nav-header ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.nav.nav-header ul::after {
	content: "";
	display: block;
	clear: both;
}
.nav.nav-header ul li {
	display: inline-block;
	padding: 0 20px;
}
.nav.nav-header ul li a {
	text-decoration: none;
	color: black;
	display: block;
}
.nav.nav-header ul li a:hover {
	text-decoration: underline;
}


.header-brand {
	text-align: center;
}
.header-brand .header-brand-introtext {
	font-size: 20px;
	display: block;
	margin-bottom: 15px;
}
.header-brand .header-brand-h {
	margin-bottom: 30px;
}
.header-brand .header-brand-h a {
	display: block;
	width: 491px;
	height: 119px;
	margin: 0 auto;
}
.header-brand .header-brand-h a img {
	width: 100%;
}

.bgcontent {}
.bgcontent.bgcontent-sweets {
	margin: 0 auto;
	/*max-width: 960px;*/
	max-width: 1300px;
	/*height: 1385px;*/
}
.bgcontent.bgcontent-sweets .sidecontent {}
.bgcontent.bgcontent-sweets .sidecontent .button.button-red {
	/*font-size: 16px;
	font-weight: bold;*/
}
.bgcontent.bgcontent-sweets .sidecontent.sidecontent-left {
	text-align: right;
}
.bgcontent.bgcontent-sweets .sidecontent.sidecontent-left > img,
.bgcontent.bgcontent-sweets .sidecontent.sidecontent-left > div {
	margin-bottom: 20px
}
/*.bgcontent.bgcontent-sweets .sidecontent.sidecontent-left img:nth-of-type(1) {
	margin-bottom: 20px
}*/
.bgcontent.bgcontent-sweets .sidecontent.sidecontent-right {
	text-align: left;
}
.bgcontent.bgcontent-sweets .sidecontent.sidecontent-right > img,
.bgcontent.bgcontent-sweets .sidecontent.sidecontent-right > div {
	margin-bottom: 20px	
}
/*.bgcontent.bgcontent-sweets .sidecontent.sidecontent-right img:nth-of-type(1) {
	margin-bottom: 20px	
}*/


.button {
	display: inline-block;
	text-decoration: none;
	position: relative;
	padding: 10px 25px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.button.button-fixedwidth {}
.button.button-fixedwidth.button-fixedwidth-small {
	width: 140px;
}
.button.button-fixedwidth.button-fixedwidth-medium {
	width: 200px;
}
.button.button-fixedwidth.button-fixedwidth-large {
	width: 250px;
}
.button.button-red {
	color: white;
	background: #D73639;
}
.button.button-red:hover {
	background: #B95B4E;
}
.button.button-yellow {
	color: white;
	background: #F3CA1E;
}
.button.button-yellow:hover {
	color: white;
	background: #CBB255;
}
.button.button-cornerround {
	-ms-border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
}
.button .button-ico {
	position: absolute;
}
.button i {
	vertical-align: middle;
}
.button .button-ico.button-ico-right {
	right: 15px;
}
.button .button-ico.button-ico-left {
	left: 15px;
}
.triangle {
	display: inline-block;
	vertical-align: middle;
}
.triangle-right {
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 12px solid white;
}


.cart {
	position: relative;
}
.cart .icon-cart {
	position: relative;	
}
.cart .icon-cart .cart-counter {
	background: red;
	color: white;
	position: absolute;
	right: -12px;
	top: -8px;
	font-size: 10px;
	line-height: 10px;
	padding: 3px;
	border-radius: 50%;
	width: 50%;
	height: 50%;
	font-weight: bold;
	text-align: center;
}


.slider {}
.slider.slider-products {}
.slider.slider-products.slider-slick {}
.slider.slider-products.slider-slick > div img {
	width: 100%;
}
.slider.slider-products.slider-slick .slick-dots {
	bottom: 10px;
}
.slider.slider-products.slider-slick .slick-dots li {
	width: 10px;
	height: 10px;
}
.slider.slider-products.slider-slick .slick-dots li.slick-active {}
.slider.slider-products.slider-slick .slick-dots li button {
	width: 10px;
	height: 10px;
}
.slider.slider-products.slider-slick .slick-dots li button::before {
	content: '';
	background: white;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}


.product-cards {
	margin-bottom: 30px;
}
.product-cards ul {
	margin: 0px;
	margin-bottom: 30px;
}
.product-cards ul li {
	margin-bottom: 30px;
}
.product-cards ul li:nth-child(3n+3) {
}
.product-cards ul li .product-cards-anc {
	display: block;
	text-decoration: none;
	color: black;
}
.product-cards ul li .product-cards-anc:hover {
	text-decoration: underline;
}
.product-cards ul li:nth-child(3n+1) .product-cards-anc {
	margin-right: 26px;
}
.product-cards ul li:nth-child(3n+2) .product-cards-anc {
	margin-left: 13px;
	margin-right: 13px;
}
.product-cards ul li:nth-child(3n+3) .product-cards-anc {
	margin-left: 26px;
}


.product-cards ul li .product-cards-portrait {
	position: relative;
	margin-bottom: 20px;
}
.product-cards ul li .product-cards-portrait::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
.product-cards ul li .product-cards-portrait .product-cards-portrait-inner {
	position: absolute;
	width: 100%;
	height: 100%;
}
.product-cards ul li .product-cards-portrait .product-cards-portrait-inner img {
	width: 100%;
	height: 100%;
}
.product-cards ul li .product-cards-detail {
	text-align: center;
}
.product-cards ul li .product-cards-detail .product-cards-name {
	margin: 0px;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 10px;
}
.product-cards ul li .product-cards-detail .product-cards-price {
	margin: 0px;
	font-size: 18px;
	margin-bottom: 10px;
}


.product-brochure {
	margin-bottom: 60px;
}
.product-brochure > .l-table {
	margin-bottom: 30px;
}
.product-brochure > .pagecontrol {
	margin-bottom: 60px;
}
.product-brochure .product-brochure-portrait {
	margin-bottom: 30px;
}
.product-brochure .product-brochure-portrait img {
	width: 100%;
}
.product-brochure .product-brochure-desc {}
.product-brochure .product-brochure-desc img {}
.product-brochure .product-brochure-cp {
	background: #EFEEEE;
	text-align: left;
	padding: 20px;
}
.product-brochure .product-brochure-cp form {}
.product-brochure .product-brochure-cp form .product-name {}
.product-brochure .product-brochure-cp form .product-brochure-cp-label {
	width: 50px;
}
.product-brochure .product-brochure-cp form .product-brochure-cp-detail {
	padding-bottom: 10px;
}
.product-brochure .product-brochure-cp form .product-brochure-cp-detail input {
	width: 70px;
}
.product-brochure .product-brochure-cp form .product-brochure-cp-detail select {
	width: 100%;
}
.product-brochure .product-brochure-cp form .product-brochure-cp-control {}



.product-brochure-gallery {
	margin-bottom: 30px;
}
.product-brochure-gallery ul {
	margin: 0px;
	margin-bottom: 30px;
}
.product-brochure-gallery ul li {
	/*margin-bottom: 30px;*/
}
.product-brochure-gallery ul li:nth-child(3n+1) .product-brochure-gallery-portrait {
	margin-right: 26px;
}
.product-brochure-gallery ul li:nth-child(3n+2) .product-brochure-gallery-portrait {
	margin-left: 13px;
	margin-right: 13px;
}
.product-brochure-gallery ul li:nth-child(3n+3) .product-brochure-gallery-portrait {
	margin-left: 26px;
}
.product-brochure-gallery .product-brochure-gallery-portrait {
	position: relative;
	margin-bottom: 20px;
}
.product-brochure-gallery .product-brochure-gallery-portrait::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
.product-brochure-gallery .product-brochure-gallery-portrait .product-brochure-gallery-portrait-inner {
	position: absolute;
	width: 100%;
	height: 100%;
}
.product-brochure-gallery .product-brochure-gallery-portrait .product-brochure-gallery-portrait-inner img {
	width: 100%;
	height: 100%;
}


.product-brochure .product-brochure-misccontent {}
.product-brochure .product-brochure-misccontent > img {
	margin-bottom: 50px;
}
.product-brochure .product-brochure-misccontent > .l-table {
	margin-bottom: 50px;
}
.product-brochure .product-brochure-misccontent .product-brochure-misccontent-modimg {
	position: relative;
}
.product-brochure .product-brochure-misccontent .product-brochure-misccontent-modimg .button-red {
	position: absolute;
	top: 20px;
	right: 0px;
}



.pagecontrol {
	margin-bottom: 30px;
}
.pagecontrol .button {
	margin: 0 10px;
}

/* State ----------------------------------------------------------- */





/* Helpers ----------------------------------------------------------- */
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.width-full {
	width: 100%;
}
.lazy-load {
	opacity: 0;
	-moz-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.lazy-load.lazy-load-show {
	opacity: 1;
}



/* Media ----------------------------------------------------------- */
@media screen and (max-width:768px ) { 
	/* Layouts ----------------------------------------------------------- */
	.l-grid.l-grid-2cols .l-grid-col {
		width: 100%;
	}
	.l-grid.l-grid-3cols .l-grid-col {
		width: 100%;
	}



	/* Modules ----------------------------------------------------------- */

	/* Helpers ----------------------------------------------------------- */
	

}